<a href="https://colab.research.google.com/github/PrasadReddyGaddam/PYTHON/blob/master/Assignment_18(17_06_20).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**CSE-221710301019-PRASAD REDDY**

In [1]:
import pandas as pd
import numpy as np

1. Choose a dataset

2. Read the data in the proper format based on the data you have selected. 
- What is the data separator?
- Is the data contains header?
   - If no, then get the names of the columns from the description and give them using the proper arguments of the function

In [4]:
data = pd.read_csv("https://raw.githubusercontent.com/sumathi16/Datasets/master/Human_Resources_Employee_Attrition.csv",nrows=200,sep=None)
data

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support sep=None with delim_whitespace=False; you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

     satisfaction_level  last_evaluation  ...  department  salary
0                  0.38             0.53  ...       sales     low
1                  0.80             0.86  ...       sales  medium
2                  0.11             0.88  ...       sales  medium
3                  0.72             0.87  ...       sales     low
4                  0.37             0.52  ...       sales     low
..                  ...              ...  ...         ...     ...
195                0.09             0.80  ...   technical     low
196                0.27             0.54  ...   technical     low
197                0.10             0.91  ...   technical     low
198                0.10             0.89  ...   technical     low
199                0.77             0.94  ...     support     low

[200 rows x 10 columns]

No seperator required since data is in proper format

In [8]:
data.columns
#contains following headers

Index(['satisfaction_level', 'last_evaluation', 'number_of_projects',
       'average_monthly_hours', 'years_at_company', 'work_accident', 'left',
       'promotion_last_5years', 'department', 'salary'],
      dtype='object')

3. After getting the data as a dataframe check how many rows and columns are there?

In [9]:
print(" Rows:",data.shape[0],"\n","Columns:",data.shape[1])

 Rows: 200
 Columns: 10

4.Check how many categorical and numerical columns are there?
- Categorical - object type
- Numerical - int,float
- Boolean - bool

In [12]:
data.dtypes
# There are 2 float columns,6 int columns,2 object columns
# on total 8 numerical and 2 categorical columns

satisfaction_level       float64
last_evaluation          float64
number_of_projects         int64
average_monthly_hours      int64
years_at_company           int64
work_accident              int64
left                       int64
promotion_last_5years      int64
department                object
salary                    object
dtype: object

5. Create a copy of the dataframe. Later on perform the operations on a new dataframe.

In [13]:
temp = data.copy()
temp

     satisfaction_level  last_evaluation  ...  department  salary
0                  0.38             0.53  ...       sales     low
1                  0.80             0.86  ...       sales  medium
2                  0.11             0.88  ...       sales  medium
3                  0.72             0.87  ...       sales     low
4                  0.37             0.52  ...       sales     low
..                  ...              ...  ...         ...     ...
195                0.09             0.80  ...   technical     low
196                0.27             0.54  ...   technical     low
197                0.10             0.91  ...   technical     low
198                0.10             0.89  ...   technical     low
199                0.77             0.94  ...     support     low

[200 rows x 10 columns]

6. Observe the data and check for missing data and duplicates based on entire data.
 -   Remove the duplicates 
  - Replace the missing values with a function of your choice

In [18]:
temp[temp["satisfaction_level"].duplicated()]

     satisfaction_level  last_evaluation  ...  department  salary
11                 0.11             0.81  ...       sales     low
13                 0.41             0.55  ...       sales     low
15                 0.38             0.54  ...       sales     low
16                 0.45             0.47  ...       sales     low
18                 0.45             0.51  ...       sales     low
..                  ...              ...  ...         ...     ...
193                0.09             0.82  ...   technical  medium
194                0.89             0.95  ...   technical  medium
195                0.09             0.80  ...   technical     low
197                0.10             0.91  ...   technical     low
198                0.10             0.89  ...   technical     low

[155 rows x 10 columns]

In [15]:
temp.isna().sum()
# no missing values in any column

satisfaction_level       0
last_evaluation          0
number_of_projects       0
average_monthly_hours    0
years_at_company         0
work_accident            0
left                     0
promotion_last_5years    0
department               0
salary                   0
dtype: int64

7. Apply standard scaler for all the columns

In [28]:
numdata = temp.iloc[:,0:8]
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
stdscale_data = sc.fit_transform(numdata)
stdscale_data

array([[-0.1291856 , -0.89505158, -0.98361129, ..., -0.19044535,
         0.        , -0.12340351],
       [ 1.47370815,  0.80343618,  0.61143404, ..., -0.19044535,
         0.        , -0.12340351],
       [-1.1596173 ,  0.90637483,  1.6747976 , ..., -0.19044535,
         0.        , -0.12340351],
       ...,
       [-1.19778144,  1.06078281,  1.14311582, ..., -0.19044535,
         0.        , -0.12340351],
       [-1.19778144,  0.95784416,  1.6747976 , ..., -0.19044535,
         0.        , -0.12340351],
       [ 1.35921574,  1.21519079,  0.61143404, ..., -0.19044535,
         0.        , -0.12340351]])

In [29]:
stdscale_data = pd.DataFrame(stdscale_data)
stdscale_data

            0         1         2         3         4         5    6         7
0   -0.129186 -0.895052 -0.983611 -0.756906 -0.847998 -0.190445  0.0 -0.123404
1    1.473708  0.803436  0.611434  0.877208  2.331995 -0.190445  0.0 -0.123404
2   -1.159617  0.906375  1.674798  1.032838  0.212000 -0.190445  0.0 -0.123404
3    1.168395  0.854906  0.611434  0.270251  1.271997 -0.190445  0.0 -0.123404
4   -0.167350 -0.946521 -0.983611 -0.725780 -0.847998 -0.190445  0.0 -0.123404
..        ...       ...       ...       ...       ...       ...  ...       ...
195 -1.235946  0.494620  1.143116  1.530854  0.212000 -0.190445  0.0 -0.123404
196 -0.548991 -0.843582  1.674798  1.126216 -0.847998 -0.190445  0.0 -0.123404
197 -1.197781  1.060783  1.143116  1.266283  0.212000 -0.190445  0.0 -0.123404
198 -1.197781  0.957844  1.674798  1.235157  0.212000 -0.190445  0.0 -0.123404
199  1.359216  1.215191  0.611434  0.316940  2.331995 -0.190445  0.0 -0.123404

[200 rows x 8 columns]

8. Apply onehotencoder to a categorical column

In [34]:
he_sal_data= temp.copy()
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [35]:
ct = ColumnTransformer(transformers=[('xyz',OneHotEncoder(),[9])],remainder="passthrough")

In [36]:
he_sal_data = ct.fit_transform(he_sal_data)
he_sal_data

array([[0.0, 1.0, 0.0, ..., 1, 0, 'sales'],
       [0.0, 0.0, 1.0, ..., 1, 0, 'sales'],
       [0.0, 0.0, 1.0, ..., 1, 0, 'sales'],
       ...,
       [0.0, 1.0, 0.0, ..., 1, 0, 'technical'],
       [0.0, 1.0, 0.0, ..., 1, 0, 'technical'],
       [0.0, 1.0, 0.0, ..., 1, 0, 'support']], dtype=object)

9.  Apply labelEncoder to a categorical column

In [32]:
le_sal_data = temp.copy()
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
le_sal_data.salary = le.fit_transform(le_sal_data.salary)
le_sal_data.salary
#low, medium changed to 1,2

0      1
1      2
2      2
3      1
4      1
      ..
195    1
196    1
197    1
198    1
199    1
Name: salary, Length: 200, dtype: int64

10. Apply pd.get_dummies for the entire data frame and check how many columns added.

In [46]:
temp.shape[1]

10

In [45]:
pd.get_dummies(temp).shape[1]
#hence we can conclude that 10 columns are added by using get_dummies()

20

11. Select one column from your data(which is your output). Store output in y

In [39]:
y = temp.salary
y

0         low
1      medium
2      medium
3         low
4         low
        ...
195       low
196       low
197       low
198       low
199       low
Name: salary, Length: 200, dtype: object

12. Except the output column, all the remaining columns are your inputs. Store all inputs in X

In [41]:
X = temp.iloc[:,0:9]
X

     satisfaction_level  last_evaluation  ...  promotion_last_5years  department
0                  0.38             0.53  ...                      0       sales
1                  0.80             0.86  ...                      0       sales
2                  0.11             0.88  ...                      0       sales
3                  0.72             0.87  ...                      0       sales
4                  0.37             0.52  ...                      0       sales
..                  ...              ...  ...                    ...         ...
195                0.09             0.80  ...                      0   technical
196                0.27             0.54  ...                      0   technical
197                0.10             0.91  ...                      0   technical
198                0.10             0.89  ...                      0   technical
199                0.77             0.94  ...                      0     support

[200 rows x 9 columns]

13. Split the data with a specific random state and make 25% of the data for testing and 75% of the data for training

In [42]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.25,random_state=1)

In [43]:
print(temp.shape) 
print(X_train.shape) 
print(X_test.shape)  
print(y_train.shape) 
print(y_test.shape)

(200, 10)
(150, 9)
(50, 9)
(150,)
(50,)